*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

:root{
    --cor_principal: #926400;
    --cor_secundaria: #f5ba3a;
    --cor_terciaria: #8a7039;
    --cor_de_contraste: #664a0d;
    --cor_mais_escura: #2e2102;
}

body{
    background-image: url(../images/pergaminho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--cor_principal);
    height: 80px;
    padding: 10px 0px;
}

/* manu-bar */

header a{
    color: var(--cor_mais_escura);
    padding: 5px;
}

nav{
    display: inline-block;
    margin-right: 30px;
    min-width: 350px;
}

nav li a:hover{
    cursor: pointer;
    opacity: 0.5;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.logo{
    width: 250px;
    margin: 0px  20px 5px 10px;
}

/* sub-menu */

nav ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
}

nav ul ul{
    display: none;
    position: absolute;
    left: 0;
    width: 150px;
    padding-top: 5px;
}

nav ul li:hover ul{
    display: block;
    background-color: var(--cor_terciaria);
}

nav ul ul li:hover{
    background-color: #664a0dc0;
    color: white;
    padding-left: 10px;
}

nav ul ul li{
    width: 100%;
    padding-bottom: 8px;
    padding-left: 10px;
}

/* conteúdo principal do site */

main{
    background-color: var(--cor_terciaria);
    max-width: 1150px;
    min-width: 400px;
    margin: auto;
    padding: 20px;
}

main h1{
    padding-bottom: 10px;
    font-size: 30px;
    text-align: center;
    color: var(--cor_secundaria);
}

main h2{
    padding: 10px 0px;
    font-size: 24px;
    color: var(--cor_secundaria);
    text-align: center;
}

main p{
    text-align: justify;
    text-indent: 20px;
}

/* Botões */

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container a{
    color: black;
}

.container button{
    width: 100px;
    height: 60px;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
}

/* rodapé */

footer{
    background-color: var(--cor_principal);
    padding: 15px;
    text-align: center;
}




